<div class="main-container">
    <div class="add-form">
        <form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
            <input type="number" formControlName="id" hidden/>
            <div class="form-group row">
                <label class="control-label col-sm-2">Project</label>
                <div class="col-sm-10">  
                <input type="text" formControlName="project" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.project.errors }" />
                <div *ngIf="submitted && f.project.errors" class="invalid-feedback">
                    <div *ngIf="f.project.errors.required">Project is required</div>
                </div>
              </div>
            </div>
            <div class="form-row">
                <label class="control-label col-sm-2"></label> 
                <div class="form-group form-check">
                    <input type="checkbox" formControlName="setDate" id="setdate" class="form-check-input"  (change)="setDates($event.target.checked)"/>
                    <label for="acceptTerms" class="form-check-label">Set Start and End Date</label>    
                </div>
                <div class="form-group col-sm-3">
                    <input type="date" name="startdate" formControlName="startDate" class="form-control"  placeholder="Start Date"/>
                </div>
                <div class="form-group col-sm-3">
                    <input type="date" name="enddate" formControlName="endDate" class="form-control" />
                </div>
              </div>
              <div class="form-group row">
                  <label class="control-label col-sm-2" for="formControlRange">Priority</label>
                  <div class="col-sm-10">
                  <input type="range" class="form-control-range slider" [min]="0" max="30" value="0" step="1" id="formControlRange" formControlName="priority">
                </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-sm-2">Manager</label>
                    <div class="form-group col-sm-10">
                      <div class="search-field">
                    <input type="text" formControlName="manager" class="form-control disabled-field" [ngClass]="{ 'is-invalid': submitted && f.managerId.errors }" />
                    <input type="number" formControlName="managerId" hidden/>
                    <div *ngIf="submitted && f.managerId.errors" class="invalid-feedback">
                        <div *ngIf="f.managerId.errors.required">Manager is required</div>
                    </div>
                    </div>
                    <div class="search-btn">
                        <input type="button" class="btn btn-secondary" value="Search" data-toggle="modal" data-target="#myModal"> 
                    </div>
                  </div>
                </div>
                <div class="text-center">
                    <button class="btn btn-secondary mr-1">{{saveBtnName}}</button>
                    <button class="btn btn-secondary" type="reset" (click)="onReset()">Reset</button>
                </div>
        </form>
</div>
<div class="list-view">
    <!-- <div class="form-group  user-list-searchbar">  -->
    <div class="form-group col">
  <input class="form-control" type="text" placeholder="Search" [(ngModel)]="projectSearch">
    </div>
    <div class="form-group row sort-btn-group">
        <label class="col-sm-2">Sort : </label>
        <input type="button" class="btn btn-secondary" value="Start Date" (click)="sortList('startDate')"> 
        <input type="button" class="btn btn-secondary" value="End Date" (click)="sortList('endDate')"> 
        <input type="button" class="btn btn-secondary" value="Priority" (click)="sortList('priority')"> 
        <input type="button" class="btn btn-secondary" value="Completed" (click)="sortList('Completed')"> 
          </div>
    <!-- </div> -->
  <div class="list-view-container" *ngFor="let project of projectList | listFilter:projectSearch">
    <div class="list-view-group">
  <ul class="list-group list-group-horizontal">
    <li class="list-group-item" style="width: 60%;">
        <!-- <ul class="list-group">
            <li class="list-group-item"> {{project.project}}</li>
            <li class="list-group-item">
                
                  <div class="row">
                    <th>No of Tasks :</th><td></td>
                    <th>Completed :</th><td></td>
                  </div>
                  <div class="row">
                      <th>Start Date:</th><td>{{project.startDate | date}}</td>
                      <th>End Date :</th><td>{{project.endDate | date}}</td>
                  </div>
                  
              </li>
        </ul> -->
        <div class="col project-data">
          <div class="row project-header">
              {{project.project}}
          </div>
          <div class="row project-row">
              <th>No of Tasks :</th><td class="project-row">{{project.noOfTasks}}</td>
              <th>Completed : </th><td class="project-row">{{project.noOfCompletedTask}}</td>
          </div>
          <div class="row project-row">
              <th>Start Date: </th><td class="project-row">{{project.startDate | date}}</td>
              <th>End Date : </th><td class="project-row">{{project.endDate | date}}</td>
          </div>
        </div>
     
    </li>
    <li class="list-group-item" style="width: 10%;">
        <div class="progress" style="left: 10%;">
            <div class="progress-bar progress-bar-striped bg-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
          </div>
     </div>
     <progress class=""></progress>
    </li>
    
    <li class="list-group-item" style="width: 30%;">
        <div class="list-view-action-btns">
        <input type="button" class="btn btn-secondary" value="Update" (click)="editProject(project)"> <br>
        <input type="button" class="btn btn-secondary" value="Suspend" (click)="deleteProject(project.id)">
      </div>

    </li>
  </ul>
  
     
      </div>
  </div>
</div>
</div>




<!-- The Modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Add Manager</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
            <input class="form-control" type="text" placeholder="Search" [(ngModel)]="userSearch">
          <table id="newspaper-b">
            <!-- <th>Select Manager</th> -->
            <tbody>
            <tr *ngFor="let user of userList | listFilter:userSearch" (click)="selectedRow(user)">
              <td>{{user.firstName}} {{user.lastName}}</td>

            </tr>
            </tbody>
          </table>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="setManager()">Close</button>
        </div>
        
      </div>
    </div>
  </div>